{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <h1>Reading Content</h1>
  </div>

  <div class="row navbar">
    <a href="/" class="link">Content</a> / <a href="upload" class="link">Upload</a>
  </div>
  
  <div class="row">
    <p class="subheading">Short Stories</p>
    {% for content in short_stories %}
      <p><a href="content/stories/{{content}}" class="japanese content-item">{{content}}</a></p>
    {% endfor %}
    <p class="subheading">News Articles</p>
    <p class="subheading">Light Novels</p>
    <p class="subheading">Common Sources</p>
    <p><a href="https://www3.nhk.or.jp/news/easy/" class="link">NHK Easy</a></p>
  </div>
</div>
{% endblock content %}
